*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main{
  text-align: center;
  color:orange;
  text-transform: uppercase;
  background: purple;
  width: 100%;
height:100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
button{
  display:block;
  margin:auto;
margin-top: 20px;
padding:5px;
border: 2px solid blue;
outline: none;
background-color: orange;
box-shadow: 2px 2px 0px gray;

}